src/wsOCR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file generated by staff_codegen. -->
<!-- For more information please visit: http://code.google.com/p/staff/ -->
<wsdl:definitions
    name="wsOCR"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:ns_="http://tempui.org/"
    targetNamespace="http://tempui.org/">

  <wsdl:types>
    <schema
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://tempui.org/">


      <!-- requests, responses of service wsOCR -->

      <!-- double sendClientID(double clientID) -->
      <element name="sendClientID">
        <complexType>
          <sequence>
            <element name="clientID" type="double"/>
          </sequence>
        </complexType>
      </element>
      <element name="sendClientIDResult" type="double"/>

      <!-- std::string receiveContent(int linker, int flag) -->
      <element name="receiveContent">
        <complexType>
          <sequence>
            <element name="linker" type="int"/>
            <element name="flag" type="int"/>
          </sequence>
        </complexType>
      </element>
      <element name="receiveContentResult" type="string"/>

      <!-- void sendContent(std::string content, int linker, int flag) -->
      <element name="sendContent">
        <complexType>
          <sequence>
            <element name="content" type="string"/>
            <element name="linker" type="int"/>
            <element name="flag" type="int"/>
          </sequence>
        </complexType>
      </element>
      <element name="sendContentResult">
        <complexType/>
      </element>

      <!-- void sendFile(std::string fileContent, std::string fileAddress) -->
      <element name="sendFile">
        <complexType>
          <sequence>
            <element name="fileContent" type="string"/>
            <element name="fileAddress" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="sendFileResult">
        <complexType/>
      </element>

      <!-- std::string sendFile(std::string fileContent) -->
      <element name="sendFile">
        <complexType>
          <sequence>
            <element name="fileContent" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="sendFileResult" type="string"/>

      <!-- int sendFileClient(std::string fileContent) -->
      <element name="sendFileClient">
        <complexType>
          <sequence>
            <element name="fileContent" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="sendFileClientResult" type="int"/>

      <!-- std::string receiveFile(std::string fileAddress) -->
      <element name="receiveFile">
        <complexType>
          <sequence>
            <element name="fileAddress" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="receiveFileResult" type="string"/>

      <!-- void sendFileInfo(std::string filename, std::string fileInfo) -->
      <element name="sendFileInfo">
        <complexType>
          <sequence>
            <element name="filename" type="string"/>
            <element name="fileInfo" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="sendFileInfoResult">
        <complexType/>
      </element>

      <!-- std::string receiveFileInfo(std::string filename) -->
      <element name="receiveFileInfo">
        <complexType>
          <sequence>
            <element name="filename" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="receiveFileInfoResult" type="string"/>

      <!-- void doOCR(std::string fileAddress) -->
      <element name="doOCR">
        <complexType>
          <sequence>
            <element name="fileAddress" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="doOCRResult">
        <complexType/>
      </element>

      <!-- void doOCR(double clientID) -->
      <element name="doOCR">
        <complexType>
          <sequence>
            <element name="clientID" type="double"/>
          </sequence>
        </complexType>
      </element>
      <element name="doOCRResult">
        <complexType/>
      </element>

      <!-- std::string receiveOCR(std::string fileAddress) -->
      <element name="receiveOCR">
        <complexType>
          <sequence>
            <element name="fileAddress" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="receiveOCRResult" type="string"/>

      <!-- std::string perform(std::string AppData) -->
      <element name="perform">
        <complexType>
          <sequence>
            <element name="AppData" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="performResult" type="string"/>
    </schema>
  </wsdl:types>

  <!-- Messages of service wsOCR -->
  <wsdl:message name="wsOCR_sendClientIDRequest">
    <wsdl:part element="ns_:sendClientID" name="wsOCR_sendClientIDRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_sendClientIDResponse">
    <wsdl:part element="ns_:sendClientIDResult" name="wsOCR_sendClientIDResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_receiveContentRequest">
    <wsdl:part element="ns_:receiveContent" name="wsOCR_receiveContentRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_receiveContentResponse">
    <wsdl:part element="ns_:receiveContentResult" name="wsOCR_receiveContentResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_sendContentRequest">
    <wsdl:part element="ns_:sendContent" name="wsOCR_sendContentRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_sendContentResponse">
    <wsdl:part element="ns_:sendContentResult" name="wsOCR_sendContentResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_sendFileRequest">
    <wsdl:part element="ns_:sendFile" name="wsOCR_sendFileRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_sendFileResponse">
    <wsdl:part element="ns_:sendFileResult" name="wsOCR_sendFileResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_sendFileRequest">
    <wsdl:part element="ns_:sendFile" name="wsOCR_sendFileRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_sendFileResponse">
    <wsdl:part element="ns_:sendFileResult" name="wsOCR_sendFileResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_sendFileClientRequest">
    <wsdl:part element="ns_:sendFileClient" name="wsOCR_sendFileClientRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_sendFileClientResponse">
    <wsdl:part element="ns_:sendFileClientResult" name="wsOCR_sendFileClientResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_receiveFileRequest">
    <wsdl:part element="ns_:receiveFile" name="wsOCR_receiveFileRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_receiveFileResponse">
    <wsdl:part element="ns_:receiveFileResult" name="wsOCR_receiveFileResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_sendFileInfoRequest">
    <wsdl:part element="ns_:sendFileInfo" name="wsOCR_sendFileInfoRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_sendFileInfoResponse">
    <wsdl:part element="ns_:sendFileInfoResult" name="wsOCR_sendFileInfoResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_receiveFileInfoRequest">
    <wsdl:part element="ns_:receiveFileInfo" name="wsOCR_receiveFileInfoRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_receiveFileInfoResponse">
    <wsdl:part element="ns_:receiveFileInfoResult" name="wsOCR_receiveFileInfoResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_doOCRRequest">
    <wsdl:part element="ns_:doOCR" name="wsOCR_doOCRRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_doOCRResponse">
    <wsdl:part element="ns_:doOCRResult" name="wsOCR_doOCRResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_doOCRRequest">
    <wsdl:part element="ns_:doOCR" name="wsOCR_doOCRRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_doOCRResponse">
    <wsdl:part element="ns_:doOCRResult" name="wsOCR_doOCRResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_receiveOCRRequest">
    <wsdl:part element="ns_:receiveOCR" name="wsOCR_receiveOCRRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_receiveOCRResponse">
    <wsdl:part element="ns_:receiveOCRResult" name="wsOCR_receiveOCRResponse"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_performRequest">
    <wsdl:part element="ns_:perform" name="wsOCR_performRequest"/>
  </wsdl:message>

  <wsdl:message name="wsOCR_performResponse">
    <wsdl:part element="ns_:performResult" name="wsOCR_performResponse"/>
  </wsdl:message>

  <!-- Port Type of service wsOCR -->
  <wsdl:portType name="wsOCRPortType">
    <wsdl:operation name="sendClientID">
      <wsdl:input message="ns_:wsOCR_sendClientIDRequest" name="sendClientIDRequest"/>
      <wsdl:output message="ns_:wsOCR_sendClientIDResponse" name="sendClientIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="receiveContent">
      <wsdl:input message="ns_:wsOCR_receiveContentRequest" name="receiveContentRequest"/>
      <wsdl:output message="ns_:wsOCR_receiveContentResponse" name="receiveContentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendContent">
      <wsdl:input message="ns_:wsOCR_sendContentRequest" name="sendContentRequest"/>
      <wsdl:output message="ns_:wsOCR_sendContentResponse" name="sendContentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendFile">
      <wsdl:input message="ns_:wsOCR_sendFileRequest" name="sendFileRequest"/>
      <wsdl:output message="ns_:wsOCR_sendFileResponse" name="sendFileResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendFile">
      <wsdl:input message="ns_:wsOCR_sendFileRequest" name="sendFileRequest"/>
      <wsdl:output message="ns_:wsOCR_sendFileResponse" name="sendFileResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendFileClient">
      <wsdl:input message="ns_:wsOCR_sendFileClientRequest" name="sendFileClientRequest"/>
      <wsdl:output message="ns_:wsOCR_sendFileClientResponse" name="sendFileClientResponse"/>
    </wsdl:operation>
    <wsdl:operation name="receiveFile">
      <wsdl:input message="ns_:wsOCR_receiveFileRequest" name="receiveFileRequest"/>
      <wsdl:output message="ns_:wsOCR_receiveFileResponse" name="receiveFileResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendFileInfo">
      <wsdl:input message="ns_:wsOCR_sendFileInfoRequest" name="sendFileInfoRequest"/>
      <wsdl:output message="ns_:wsOCR_sendFileInfoResponse" name="sendFileInfoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="receiveFileInfo">
      <wsdl:input message="ns_:wsOCR_receiveFileInfoRequest" name="receiveFileInfoRequest"/>
      <wsdl:output message="ns_:wsOCR_receiveFileInfoResponse" name="receiveFileInfoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="doOCR">
      <wsdl:input message="ns_:wsOCR_doOCRRequest" name="doOCRRequest"/>
      <wsdl:output message="ns_:wsOCR_doOCRResponse" name="doOCRResponse"/>
    </wsdl:operation>
    <wsdl:operation name="doOCR">
      <wsdl:input message="ns_:wsOCR_doOCRRequest" name="doOCRRequest"/>
      <wsdl:output message="ns_:wsOCR_doOCRResponse" name="doOCRResponse"/>
    </wsdl:operation>
    <wsdl:operation name="receiveOCR">
      <wsdl:input message="ns_:wsOCR_receiveOCRRequest" name="receiveOCRRequest"/>
      <wsdl:output message="ns_:wsOCR_receiveOCRResponse" name="receiveOCRResponse"/>
    </wsdl:operation>
    <wsdl:operation name="perform">
      <wsdl:input message="ns_:wsOCR_performRequest" name="performRequest"/>
      <wsdl:output message="ns_:wsOCR_performResponse" name="performResponse"/>
    </wsdl:operation>
  </wsdl:portType>


  <!-- binding of service wsOCR -->
  <wsdl:binding name="wsOCRSoapBinding" type="ns_:wsOCRPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendClientID">
      <soap:operation soapAction=""/>
      <wsdl:input name="sendClientIDRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendClientIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveContent">
      <soap:operation soapAction=""/>
      <wsdl:input name="receiveContentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="receiveContentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendContent">
      <soap:operation soapAction=""/>
      <wsdl:input name="sendContentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendContentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFile">
      <soap:operation soapAction=""/>
      <wsdl:input name="sendFileRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFile">
      <soap:operation soapAction=""/>
      <wsdl:input name="sendFileRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFileClient">
      <soap:operation soapAction=""/>
      <wsdl:input name="sendFileClientRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendFileClientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveFile">
      <soap:operation soapAction=""/>
      <wsdl:input name="receiveFileRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="receiveFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFileInfo">
      <soap:operation soapAction=""/>
      <wsdl:input name="sendFileInfoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendFileInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveFileInfo">
      <soap:operation soapAction=""/>
      <wsdl:input name="receiveFileInfoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="receiveFileInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doOCR">
      <soap:operation soapAction=""/>
      <wsdl:input name="doOCRRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="doOCRResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doOCR">
      <soap:operation soapAction=""/>
      <wsdl:input name="doOCRRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="doOCRResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveOCR">
      <soap:operation soapAction=""/>
      <wsdl:input name="receiveOCRRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="receiveOCRResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="perform">
      <soap:operation soapAction=""/>
      <wsdl:input name="performRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="performResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>


  <!-- service wsOCR -->
  <wsdl:service name="wsOCR">
    <wsdl:documentation>wsOCR1 service</wsdl:documentation>
    <wsdl:port binding="ns_:wsOCRSoapBinding" name="wsOCRSoapPort">
      <soap:address location="http://localhost:9090/axis2/services/wsOCR"/>
    </wsdl:port>
  </wsdl:service>


</wsdl:definitions>
